* {
    margin: 0px;
    padding: 0px;
}

.padre {
    background-color: orange;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.hijo{
    background-color:  rgb(78, 151, 151);
    width: 30%;
    margin: 10px;
}

img {
    width: 90%;
    height: 90%;
}